
<button class="btn btn-default" onclick="callback()" style="margin-bottom: 10px;">До списку</button>

                <table class="table table-list" id="table-search">
            <tbody>
            <tr>
                <th>Прізвище, ім'я, по батькові</th>
            </tr>
            <tr>
                <td>АМЕЛІН Анатолій Ігорович</td>
            </tr>

            <tr>
                <th>Місце роботи</th>
            </tr>
            <tr>
                <td>Національна комісія з цінних паперів та фондового ринку</td>
            </tr>

            <tr>
                <th>Посада на час застосування положення Закону України «Про очищення влади»</th>
            </tr>
            <tr>
                <td>член Національної комісії з цінних паперів та фондового ринку</td>
            </tr>

            <tr>
                <th>Відомості про результати перевірки</th>
            </tr>
            <tr>
                <td>
                    Указ Президента України від 30 січня 2015 року №48/2015                </td>
            </tr>

            <tr>
                <th>Час протягом якого на особу поширюється заборона, передбачена Законом України "Про очищення влади"</th>
            </tr>
            <tr>
                <td>10 років</td>
            </tr>
            </tbody>
        </table>

