
<button class="btn btn-default" onclick="callback()" style="margin-bottom: 10px;">До списку</button>

                <table class="table table-list" id="table-search">
            <tbody>
            <tr>
                <th>Прізвище, ім'я, по батькові</th>
            </tr>
            <tr>
                <td>БАКАЙ Андрій Васильович</td>
            </tr>

            <tr>
                <th>Місце роботи</th>
            </tr>
            <tr>
                <td>Генеральна прокуратура України</td>
            </tr>

            <tr>
                <th>Посада на час застосування положення Закону України «Про очищення влади»</th>
            </tr>
            <tr>
                <td>начальник третього відділу процесуарного керівництва досудовим розслідуванням і підтримання державного обвинувачення  управління нагляду за додержанням законів органами внутрішніх справ Головного управління нагляду у кримінальному провадженні Генеральної прокуратури України</td>
            </tr>

            <tr>
                <th>Відомості про результати перевірки</th>
            </tr>
            <tr>
                <td>
                    Наказ Генеральної прокуратури України від 23 жовтня 2014 року № 2526-ц                </td>
            </tr>

            <tr>
                <th>Час протягом якого на особу поширюється заборона, передбачена Законом України "Про очищення влади"</th>
            </tr>
            <tr>
                <td>10 років</td>
            </tr>
            </tbody>
        </table>

